body{
    background-color: white;
    background-image:url(https://i.pinimg.com/736x/f0/1d/7d/f01d7d234aad1c9a6b7f5c5a6c7d524e.jpg) ;
background-repeat: no-repeat;
background-position: center center ;
background-attachment: fixed;
background-size: cover;

    color: white;


    color: white;



    }